.input {
    display: flex;
    width: 85%;
    position: relative;
    align-items: center;
}

.input_box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}
.input_box:focus {
    outline: none;
}
.input_submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: blue;
    color: white;
    transform: 0.2s all;
    box-shadow: 0 0 10px black;

}
.input_submit:hover {
    background-color: #388ae2;

}
.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px rgb(88, 79, 79);
}

.container {
    display: flex;
    width:80%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}
.todos {
    display: flex;
    width: 47%;
    margin: 0 0.5%;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: red;
}
.todos_heading {
    font-size: 30px;
    color: white;
    font-family: cursive;
}
.todo_single {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: yellow;
    transition: 0.2s;
 
}
.todo_single:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.02);
}
.todo_item {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}
.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}
.single-text-edit {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
    width:100%
}
@media(max-width: 800px)
{
    .todos {
        width: 90%;
        margin-bottom: 10px;
    }
    .container {
        width: 95%;
        flex-direction: column;
    }
}
.remove {
    background-color: green;
}
